@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
html, body {padding: 0; margin: 0;}
ol, ul {list-style: none; margin: 0; padding: 0;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none;}
label,img,input,select,textarea,button {vertical-align:middle;}
a {text-decoration: none; color: inherit; font: inherit;}
a:link, a:visited, a:hover, a:active {text-decoration: none; color: inherit;}
button {font:inherit; outline: none; border: none; line-height: inherit; background-color: transparent; margin: 0; padding: 0; cursor: pointer;}
table {border-collapse:collapse; border-spacing:0}

:root {
    --font-size-sm2: 12px;
    --font-size-sm1: 15px;
    --font-size-sm: 14px;
    --font-size-bs: 16px;
    --font-size-md: 18px;
    --font-size-md2: 20px;

    --font-color-bs: #000000;
    --bg-color-bs: #f8f9fa;
    --color-blue: #3AAAEC;
    --color-blue2: #0088FF14;
    --color-white: #fff;
    --color-gray2: #f5f5f5;
    --color-gray3: #7d7d7d;

    --radius-sm: 5px; 
    --radius-md: 15px; 
    --radius-lg: 21px; 
    --wd-outer-gap: 20px;
    --wd-inner-gap: 25px;

    --shadow-bs: 0 2px 6px rgba(0,0,0,0.1);
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: -0.02em;
    font-size: var(--font-size-bs);
    color: var(--font-color-bs);
    background-color: var(--bg-color-bs);
    line-height: normal;
    font-weight: normal;
    white-space: normal;
    word-break: break-all;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}
.wd-max {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.wd-gap {
    padding: 0 var(--wd-outer-gap);
    box-sizing: border-box;
}
.wd-igap {
    padding: 0 var(--wd-inner-gap);
    box-sizing: border-box;
}

/* ===
Header
=== */
header {
    position: sticky;
    top: 0; left: 0;
    z-index: 100;
}
.head-section .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 57px;
    padding: 0 21px;
    box-sizing: border-box;
    background-color: var(--color-white);
}

.head-section .inner > h1 {
    font-size: var(--font-size-md);
    font-weight: 600;
}
.head-section .inner > .btn-Box {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}
.head-section .inner > .btn-Box > button {
    display: block;
    width: 25px; height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.head-section .inner > .btn-Box > button.btn-alert {
    background-image: url('../images/icons/alert-icon.png');
}
.head-section .inner > .btn-Box > button.btn-store {
    background-image: url('../images/icons/store-icon.png');
}
.head-section .inner > .btn-Box > button.btn-menu {
    background-image: url('../images/icons/menu-icon.png');
}

/* ===
Main Section
=== */
.main-section {
    margin: 0 auto 70px;
}

/* -- PIN Button -- */
.btn-conBx {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--radius-md);
    background-color: var(--color-white);
    overflow: hidden;
    box-shadow: var(--shadow-bs);
}
.btn-pinNo {
    min-height: 80px;
    background-color: var(--color-blue);
    color: var(--color-white);
    margin: 24px auto 0;
}
.btn-conBx .tit {
    /* font-size: var(--font-size-md); */
    font-weight: 500;
}
.conBx-vi {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1em;
}
.go-arw {
    display: inline-block;
    width: 18px; height: 18px;
    position: relative;
    top: 1.5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/icons/arrow-20.png');
}
.go-arw.wh {
    background-image: url('../images/icons/arrow-20w.png');
}

/* -- User-info -- */
.btn-benefit {
    min-height: 80px;
    margin: 20px auto 0;
    border-bottom-left-radius: var(--radius-sm);
    border-bottom-right-radius: var(--radius-sm);
}
.btn-benefit .tit {
    text-align: left;
}
.btn-benefit .tit > p {
    font-size: var(--font-size-sm);
    color: var(--color-gray3);
    font-weight: 400;
    margin: 2px 0 0;
}
.btn-benefit .conBx-vi .point::after {content: 'P';}

.sect-coupon {
    margin: 7px 0 0;
    padding: 29px 0;
    background-color: var(--color-white);
    box-shadow: var(--shadow-bs);
    border-radius: var(--radius-md);
    border-top-left-radius: var(--radius-sm);
    border-top-right-radius: var(--radius-sm);
}
.sect-coupon .btn-conBx {box-shadow: none;}
.sect-coupon .btn-coupon {min-height: 25px;}
.sect-coupon .btn-notice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px; 
    width: calc(100% - 40px);
    background-color: var(--color-blue2);
    margin: 13px auto 0;
    padding: 0 15px 0 14px;
    border-radius: var(--radius-md);
    border-top-left-radius: var(--radius-sm);
    box-sizing: border-box
}
.sect-coupon .btn-notice > h3 {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sect-coupon .btn-notice .noti {
    color: var(--color-blue);
    font-size: 10px;
    padding: 1px 5px;
    border-radius: 20px;
    margin: 0 2px 0 0;
    border: 1px solid var(--color-blue);
}
.sect-coupon .btn-notice::after {
    content: ''; display: inline-block;
    width: 18px; height: 18px;
    background: url('../images/icons/arrow-20.png') no-repeat center / cover;
}
.sect-coupon .conBx-vi .coupon::after {content: '장';}

/* -- Button Box in ggact -- */
.btnBx-ggat {
    margin: 20px auto 0;
}
.btnBx-ggat .inner {
    background-color: var(--color-white);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-bs);
    padding: 21px var(--wd-inner-gap) 35px;
    box-sizing: border-box;
}
.btnBx-ggat .title > p {
    color: var(--color-gray3);
    font-size: var(--font-size-sm);
}
.btnBx-ggat .title > h2 {
    font-size: var(--font-size-md);
    font-weight: 500;
}
.button-Box30 {
    display: grid;
    grid-template-columns : repeat(3, 1fr);
    grid-template-rows:auto;
    gap: 30px 10px;
    margin: 25px auto 0;
}
.button-Box30 .item {}
.button-Box30 .item .imgBx {
    display: flex;
    width: 60px; height: 60px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray2);
    border-radius: var(--radius-lg);
    margin: 0 auto;
}
.button-Box30 .item .imgBx > img {
    width: 77%; height: auto;
}
.button-Box30 .item > p {
    line-height: 1.2em;
    font-size: var(--font-size-sm);
    margin: 6px auto 0;
    text-align: center;
    font-weight: 500;
}
.button-Box30 .item > p > span {
    display: block;
}

/* -- Middle Banner Section -- */
.midBan-sect {
    margin: 30px auto 0;
}
.midBan-sect img {
    width: 100%;
    height: auto;
    border-radius: var(--radius-md);
    overflow: hidden;
}

/* -- FAQ Section -- */
.faq-sect {
    margin: 30px auto 0;
}
.faq-sect > h2 {
    font-size: var(--font-size-md);
    font-weight: 500;
    margin: 0 0 15px;
}
.faq-sect .btn-faq {
    min-height: 80px;
}
.faq-sect .btn-faq:not(:first-child) {
    margin: 10px auto 0;
}
.faq-sect .btn-faq .tit {
    font-size: var(--font-size-bs);
}
.faq-sect .btn-faq .tit {
    flex: 1;
    text-align: left;
    padding: 8px 0;
    line-height: 1.25;
}
.faq-sect .btn-faq .conBx-vi {
    flex: 0 0 81px;
    justify-content: flex-end;
}
.faq-sect .btn-faq .conBx-vi > span {
    font-size: var(--font-size-sm);
    font-weight: 400;
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 5px 10px;
    border-radius: 20px;

}